body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('src/img/Registro\ de\ Saidas.png'); /* O uso de "\" para espaços pode causar problemas, substitua por %20 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    color: rgb(247, 243, 243);
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 50px;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: center;
    background-color: #444;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar a {
    color: rgb(252, 254, 255);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    display: block;
}

.navbar a:hover {
    background-color: #555;
}

.content {
    padding: 120px 20px;
}

.container {
    max-width: 1000px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: 50px;
    text-align: center;
    font-size: 0.9em;
    color: #f9f6f6;
    padding: 10px 0;
    background-color: #9b9a9a;
    border-top: 1px solid #9b9a9a;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* Corrigido */
}

label {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input[type="text"], input[type="date"], select, textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    background-color: #f9f9f9;
    color: #333;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    grid-column: span 4;
    resize: vertical;
}

button {
    grid-column: span 4;
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #388E3C;
}

@media (max-width: 768px) {
    form {
        grid-template-columns: 1fr;
    }

    button {
        grid-column: span 1;
    }

    textarea {
        grid-column: span 1;
    }
}
